@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "sfpro";
  src: url('../components/fonts/SF-Pro/SF-Pro.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sfprodisplayrounded";
  src: url('../components/fonts/SF-Pro-Rounded/SF-Pro-Rounded-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sfprodisplayregular";
  src: url('../components/fonts/SF-Pro-Display/SF-Pro-Display-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sfprodisplaybold";
  src: url('../components/fonts/SF-Pro-Display/SF-Pro-Display-Bold.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SF-Pro-Display-Light";
  src: url('../components/fonts/SF-Pro-Display/SF-Pro-Display-Light.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SF-Pro-Text-Regular";
  src: url('../components/fonts/SF-Pro-Text/SF-Pro-Text-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SF-Pro-Display-Heavy";
  src: url('../components/fonts/SF-Pro-Display/SF-Pro-Display-Heavy.otf');
  font-weight: normal;
  font-style: normal;
}

.mob-width {
    width: 55%;
  }
  @media (max-width: 671px) {
  .mob-width {
    width:100%;
  }
  }

  /* CHAT BOT CSS */

.chat-bar-collapsible {
  position: fixed;
  bottom: 0;
  right: 100px;
  /* box-shadow: 0 0 1rem 0 #333; */
}

.collapsible {
  font-weight: 600;
  background: #6a676b1b;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 350px;
  text-align: left;
  outline: none;
  font-size: 18px;
  border-radius: 10px 10px 0px 0px;
  border: 1px solid rgba(207, 193, 207, 0.157);
  border-bottom: none;
}
#chat-button {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}
#chat-button i {
  font-size: calc(25 / 16 * 1rem);
  margin-bottom: 10px;
}

.content {
  max-height: 0;
  overflow: hidden;
  font-family:  "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif, system-ui;
  /* background: url(https://assets.codepen.io/605876/black-bg-opt.jpeg?format=auto), hsl(0 0% 0%); */
  background-size: cover;
}

.full-chat-block {
  width: 350px;
  background: rgba(17, 17, 17, 0.776); 
  text-align: center;
  overflow: auto;
  scrollbar-width: none;
  height: max-content;
  transition: max-height 0.2s ease-out;
}

.outer-container {
  min-height: 500px;
  bottom: 0%;
  position: relative;
}

.chat-container {
  max-height: 500px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  scroll-behavior: smooth;
  hyphens: auto;
}

.chat-container::-webkit-scrollbar {
  display: none;
}

.chat-bar-input-block {
  display: flex;
  float: left;
  box-sizing: border-box;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  border-top: 2px solid #000000;
  background-color: rgb(27, 26, 26);
  padding: 10px 0px 10px 10px;
}

.chat-bar-icons {
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
  width: 25%;
  float: right;
  font-size: 20px;
}

#chat-icon:hover {
  opacity: 0.7;
}

#chat-timestamp {
  font-weight: 500;
  letter-spacing: 1px;
  color: #6f6f6f;
  margin-bottom: 58px;
}

i {
  cursor: pointer;
}

/* Chat bubbles */

#userInput {
  width: 75%;
}

.input-box {
  float: left;
  border: none;
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  color: #4e4e50;
  background-color: rgb(27, 26, 26);
  outline: none;
}

.userText {
  color: white;
  font-size: 16px;
  font-weight: normal;
  text-align: right;
  clear: both;
}

.userText span {
  line-height: 1.5em;
  display: inline-block;
  background: #49484a5a;
  padding: 10px;
  border-radius: 8px;
  border-bottom-right-radius: 2px;
  max-width: 80%;
  margin-right: 10px;
  animation: floatup 1s forwards;
}

.botText {
  color: #818184;
  font-weight: normal;
  font-size: 16px;
  text-align: left;
}

.botText span {
  line-height: 1.5em;
  display: inline-block;
  background: #181818be;
  padding: 10px;
  border-radius: 8px;
  border-bottom-left-radius: 2px;
  max-width: 80%;
  margin-left: 10px;
  animation: floatup 0.5s forwards;
}

@keyframes floatup {
  from {
    transform: translateY(14px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  .full-chat-block {
    width: 100%;
    border-radius: 0px;
  }
  .chat-bar-collapsible {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
  }
  .collapsible {
    width: 100%;
    border: 0px;
    border-top: 3px solid white;
    border-radius: 0px;
  }
}


.icon {
 
    margin-left: auto;
 
}